<mat-accordion multi="true" *ngIf="postsArray.length>=1; else noPosts">
  <mat-expansion-panel *ngFor="let post of postsArray">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPosts >
  <p style="margin-top: 50px; text-align: center">No posts added yet</p>
</ng-template>

